{% if session['role'] == 'tourism_agency':%}
{% include 'tourism_agency_head.html'%}
{% elif session['role'] == 'admin':%}
{% include 'admin_head.html'%}
{% elif session['role'] == 'tourist':%}
{% include 'tourist_head.html'%}
{% endif %}
<div class="align-c">
  <h1>Tour program</h1>
</div>
<div class="row">
  {% for tours_program in tours_programs %}
  {% set available = get_is_available(tours_program['_id'])%}
  <div class="col-3">
    <div class="card bg-card mt-10 ml-10 ">
      <div><input type="hidden" name="tourism_package_id" value="{{tourism_package_id}}"></div>
      <div><input type="hidden" name="tourism_agency_id" value="{{tourism_agency_id}}"></div>
      <div class="align-c mb-10">
        <h3> Tour Program</h3>
      </div>
      <div><b>Price</b> :<b style="color:green;">${{tours_program['price']}} </b></div>
      <div><b> Start Date</b> : {{tours_program['start_date'].strftime("%m-%d-%Y")}}</div>
      <div><b>End Date</b> : {{tours_program['end_date'].strftime("%m-%d-%Y")}}</div>
      <div><b>Duration</b> :{{tours_program['duration']}}</div>
      <div><b>Total Capacity</b> :{{tours_program['total_capacity']}}</div>
      <div style="font-size:20px; color:green;"> Available: <b>{{available}}</b></div>

      {% if session['role'] == 'tourist':%}
      {% if available!=0%}
      <div class="mt-20 align-c"><a href="booking_tours_program?tours_program_id={{tours_program['_id']}}&tourism_agency_id={{tourism_agency_id}}"
          class="verify-btn">Book Schedule </a></div>
      {% endif %}
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

<style>
    body {
        background-image: url('https://cdn.mos.cms.futurecdn.net/Z7t7AD6Xtni6T9r2YiNuK-1200-80.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>