{% if session['role'] == 'tourism_agency':%}
{% include 'tourism_agency_head.html'%}
{% elif session['role'] == 'admin':%}
{% include 'admin_head.html'%}
{% elif session['role'] == 'tourist':%}
{% include 'tourist_head.html'%}
{% endif %}
<div class="align-c"><h1>Tourism Package</h1></div>
<div class="row">
     {% for tourism_package in tourism_packages %}
    <div class="col-3">
          <div class="card bg-card mt-20 ml-10 mr-10">
               <div class="align-c mb-10"><h3> Package</h3></div>
               <div><b> Package Name</b> : {{tourism_package['package_name']}}</div>
               <div><b>Price</b> :<b style="color:green;">${{tourism_package['price']}} </b></div>
               <div><b>No Of Persons Allowed</b> : {{tourism_package['no_of_persons_allowed']}}</div>
               <div><b>Accommodation</b> :{{tourism_package['accommodation']}}</div>
               <div><b>Status</b> :{{tourism_package['status']}}</div>
               <div><b>Travel By</b> :{{tourism_package['travel_by']}}</div>
                <div><b>List Of Locations</b></div>
            {% for list_of_location in tourism_package['list_of_locations']%}
            {% set location = get_location_by_tourism_package(list_of_location['location_id'])%}
            <ul>
                {{location['location']}}
            </ul>
            {% endfor%}
               <div style="height:50px; overflow; auto"><b>Description</b>{{tourism_package['description']}}</div>
               {% if session['role'] == 'admin':%}
               {% if tourism_package['status'] == 'Not Published':%}
               <div class="mt-10 align-c "><a href="publish?tourism_package_id={{tourism_package['_id']}}" class="verify-btn">Publish</a></div>
               {% endif %}
               {% endif %}
                {% if session['role'] == 'tourism_agency' and tourism_package['status'] =='Published' %}
                <div class="row">
                    <div class="mt-10 col-6 ">
                        <a href="tours_program?tourism_package_id={{tourism_package['_id']}}" class="verify-btn"> Add Schedule</a>
                    </div>
                    <div class="mt-10  col-6 ">
                        <a href="/view_tours_program?tourism_package_id={{tourism_package['_id']}}" class="verify-btn"> View Schedule</a>
                    </div>
                </div>
                {% endif %}
                    {% if session['role'] == 'tourist' and tourism_package['status'] =='Published' %}
                    <div class="mt-10  align-c   ">
                        <a href="/view_tours_program?tourism_package_id={{tourism_package['_id']}}&tourism_agency_id={{tourism_package['tourism_agency_id']}}" class="verify-btn"> View Schedule</a>
                    </div>
                    {% endif %}
                     {% if session['role'] == 'admin' and tourism_package['status'] =='Published' %}
                    <div class="mt-10 align-c  ">
                        <a href="/view_tours_program?tourism_package_id={{tourism_package['_id']}}" class="verify-btn"> View Schedule</a>
                    </div>
                    {% endif %}
          </div>
    </div>
      {% endfor %}
</div>

<style>
    body {
        background-image: url('https://cdn.mos.cms.futurecdn.net/Z7t7AD6Xtni6T9r2YiNuK-1200-80.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>